@model Northwnd.MvcWebUI.Models.ProductViewModel
@{
}

<div>
    <div>
        @foreach (var item in Model.Product)
        {
            <div class="list-group-item">
                <div class="row">
                    <div class="col-8">
                        <h4>@item.ProductName</h4>
                        <h6>@item.UnitPrice <b>TL</b></h6>
                    </div>
                    <div class="col-4">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("productId", item.ProductID)
                            <input type="submit" value="Sepete Ekle" class="btn btn-primary"/>
                        }
                    </div>
                </div>
            </div>
        }
    </div>


    <ul class="pagination pagination-lg">
        <li class="page-item"> <a href="">@Html.Pager(Model.PageInfo)</a></li>
    </ul>
</div>

